ConsumoGNRE/Connected Services/ServiceReference2/GnreConfigUF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.gnre.pe.gov.br/webservice/GnreConfigUF" targetNamespace="http://www.gnre.pe.gov.br/webservice/GnreConfigUF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.gnre.pe.gov.br/webservice/GnreConfigUF">
      <s:element name="gnreDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="gnreRespostaMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="gnreCabecMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultarSoapIn">
    <wsdl:part name="gnreDadosMsg" element="tns:gnreDadosMsg" />
  </wsdl:message>
  <wsdl:message name="consultarSoapOut">
    <wsdl:part name="gnreRespostaMsg" element="tns:gnreRespostaMsg" />
  </wsdl:message>
  <wsdl:message name="consultarSoapHeader">
    <wsdl:part name="gnreCabecMsg" element="tns:gnreCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="GnreConfigUFSoap">
    <wsdl:operation name="consultar">
      <wsdl:input message="tns:consultarSoapIn" />
      <wsdl:output message="tns:consultarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GnreConfigUF" type="tns:GnreConfigUFSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultar">
      <soap12:operation soapAction="http://www.gnre.pe.gov.br/webservice/GnreConfigUF/consultar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:consultarSoapHeader" part="gnreCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GnreConfigUF">
    <wsdl:port name="GnreConfigUF" binding="tns:GnreConfigUF">
      <soap12:address location="http://www.gnre.pe.gov.br/gnreWS/services/GnreConfigUF" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>