wsdl/configUF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.gnre.pe.gov.br/webservice/GnreConfigUF" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.gnre.pe.gov.br/webservice/GnreConfigUF">
    <wsdl:types>
        <s:schema targetNamespace="http://www.gnre.pe.gov.br/webservice/GnreConfigUF" elementFormDefault="qualified">
            <s:element name="gnreDadosMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="gnreRespostaMsg">
                <s:complexType mixed="true">
                    <s:sequence>
                        <s:any />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="gnreCabecMsg">
                <s:complexType>
                    <s:sequence>
                        <s:element type="s:string" name="versaoDados" minOccurs="0" maxOccurs="1" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="consultarSoapIn">
        <wsdl:part name="gnreDadosMsg" element="tns:gnreDadosMsg" />
    </wsdl:message>
    <wsdl:message name="consultarSoapOut">
        <wsdl:part name="gnreRespostaMsg" element="tns:gnreRespostaMsg" />
    </wsdl:message>
    <wsdl:message name="consultarSoapHeader">
        <wsdl:part name="gnreCabecMsg" element="tns:gnreCabecMsg" />
    </wsdl:message>
    <wsdl:portType name="GnreConfigUFSoap">
        <wsdl:operation name="consultar">
            <wsdl:input message="tns:consultarSoapIn" />
            <wsdl:output message="tns:consultarSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding type="tns:GnreConfigUFSoap" name="GnreConfigUF">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="consultar">
            <soap12:operation style="document" soapAction="http://www.gnre.pe.gov.br/webservice/GnreConfigUF/consultar" />
            <wsdl:input>
                <soap12:body use="literal" />
                <soap12:header message="tns:consultarSoapHeader" use="literal" part="gnreCabecMsg" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GnreConfigUF">
        <wsdl:port name="GnreConfigUF" binding="tns:GnreConfigUF">
            <soap12:address location="https://www.testegnre.pe.gov.br/gnreWS/services/GnreConfigUF" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>